@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:300, 300i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

/*-- scss:defaults --*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ddd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary: #2b8cbe !default;
$link-color: #404040 !default;
 

$font-family-sans-serif:      Lato, sans-serif !default;
$font-family-serif:           Barlow, serif !default;  /* Not actually a serif font but whatever */
$mono-font:                   IBM Plex Mono !default;
$h1-font-family:              Noto Serif JP !default;
$h2-font-family:              Noto Serif JP !default;
$h3-font-family:              Noto Serif JP !default;
$h4-font-family:              Noto Serif JP !default;
$h5-font-family:              Noto Serif JP !default;

$font-size-base:              1.05rem !default;
$headings-font-weight:        400 !default;
